html,body {
    margin:0;
    padding:0;
    height:100%;
    min-height:100%;
    position:relative;
}

/* Content ---------------------------------------------------------- */

.content {
    padding-top:15px;
    padding-bottom:114px;   /* Height of the footer element */
}
.content .splash {
    background: #2c3e50;
    -webkit-box-shadow: inset 0px -11px 10px -10px #131b2d;
    -moz-box-shadow: inset 0px -11px 10px -10px #131b2d;
    box-shadow: inset 0px -11px 10px -10px #131b2d;

    -webkit-text-shadow: 0px 0px 5px #9c7211;
    -moz-text-shadow: 0px 0px 5px #9c7211;
    text-shadow: 0px 0px 5px #9c7211;
}
.content .splash .btn {
    width: 170px;
    background-color: #2c3e50;
    border-color: white;
}
.content .splash .btn:hover {
    color: #a6b997;
    border-color: #a6b997;
    text-decoration: none;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.content .splash a {
    color: white;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
.content .splash a:hover {
    color: #a6b997;
    text-decoration: none;
}
.content .thumbnail {
    -webkit-box-shadow: 0px 0px 10px 1px #a6b997;
    -moz-box-shadow: 0px 0px 10px 1px #a6b997;
    box-shadow: 0px 0px 10px 1px #a6b997;
}

/*
Live Edit  ----------------------------------------
*/

#selectChart {
    margin: 10px 0px -10px 10px;
}
#mode {
    margin: 10px 10px 0px 10px;
    vertical-align: bottom;
    float: right;
}
#mode label {
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}
#mode label:hover {
    cursor:pointer;
}
.wrap {
    /*border-style: solid;
    border-width: 1px;*/
    margin: 5px 10px 10px 10px;
    padding-bottom: 20px;
}
.wrap a {
    color: #168a70;
    -webkit-text-shadow: 0px 0px 3px #9c7211;
    -moz-text-shadow: 0px 0px 3px #9c7211;
    text-shadow: 0px 0px 3px #9c7211;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

.wrap a:hover {
    color: #c06c00;
    text-decoration: none;
}
.span {
    display: inline-block;
    vertical-align: top;

    /*border-style: solid;
    border-width: 1px;
    border-color: red;*/
}
.spanJT {
    width: 370px;
    padding-left: 10px;
}
.spanChart {
    width: -moz-calc(100% - 370px);
    width: -webkit-calc(100% - 370px);
    width: calc(100% - 370px);
    padding-right: 10px;
}
.spanChart.spanChart-fixed {
    position: fixed;
    top: 50px;
}
#chart {
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #2c3e50;
}
#chart.chart-fixed {
    position: fixed;
    top: 50px;
}
#chart.disabled {
    border-width: 4px;
    border-color: #a6b997;
    border-style: ridge;
}
#output {
    background-color: #bfd2af;
    padding-top: 20px;
    padding-bottom: 10px;
    -webkit-box-shadow:
        inset 0px 11px 6px -12px #7b8e6f,
        inset 0px -11px 6px -12px #7b8e6f;
    -moz-box-shadow:
        inset 0px 11px 6px -12px #7b8e6f,
        inset 0px -11px 6px -12px #7b8e6f;
    box-shadow:
        inset 0px 11px 6px -12px #7b8e6f,
        inset 0px -11px 6px -12px #7b8e6f;
}
#output p {
    border:0 #eee solid;
    border-right-width:4px;
}
.spanJO {
    width: -moz-calc(100% - 350px);
    width: -webkit-calc(100% - 350px);
    width: calc(100% - 350px);
    padding-right: 10px;
}
.spanNote {
    width: 350px;
    padding: 18px 0px 0px 10px;
}
@media (max-width: 768px) {
    .spanJT {
        width: 100%;
        padding-left: 0px;
    }
    .spanChart {
        width: 100%;
        padding-right: 0px;
    }
    .spanJO {
        width: 100%;
        padding-right: 0px;
    }
    .spanNote {
        width: 100%;
        padding-left: 0px;
    }
}
